@* @model Team *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kill Team Name - Kill Team Faction</title>
    <link rel="stylesheet" type="text/css" href="KTMList.css" media="screen, print" />
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="header__value" id="header__faction">Adeptus Astartes</div>
            <div class="header__value" id="header__name">Some awesome Kill Team Name</div>
            <div class="header__value" id="header__points">100 pts</div>
        </div>
        <div id="tactics">
            <div class="tactics__title">
                Tactics
            </div>
            <div class="tactics__row tactics__odd">
                <strong>Tactic Name (Type: 1 point):</strong> Ability goes here
            </div>
            <div class="tactics__row even">
                <strong>Tactic Name (Type: 1 point):</strong> Ability goes here
            </div>
        </div>
        <div class="spacer"></div>
        <div id="common">
            <div id="common__title">
                Common abilities throughout faction
            </div>
            <div class="common__row common__odd">
                <strong>Common Ability Name:</strong> Common ability description goes here
            </div>
            <div class="common__row even">
                <strong>Common Ability Name:</strong> Common ability description goes here
            </div>
        </div>
        <div class="spacer"></div>
        <div id="members">
            <div class="member member__odd">
                <div class="member__header">
                    <div class="member__stat member__type">Intercessor, Combat</div>
                    <div class="member__stat member__points">12 points</div>
                    <div class="member__stat member__m">M</div>
                    <div class="member__stat member__ws">WS</div>
                    <div class="member__stat member__bs">BS</div>
                    <div class="member__stat member__s">S</div>
                    <div class="member__stat member__t">T</div>
                    <div class="member__stat member__w">W</div>
                    <div class="member__stat member__a">A</div>
                    <div class="member__stat member__ld">LD</div>
                    <div class="member__stat member__sv">SV</div>
                </div>
                <div class="member__stats">
                    <div class="member__stat member__type">Intercessor x1</div>
                    <div class="member__stat member__m">6"</div>
                    <div class="member__stat member__ws">3+</div>
                    <div class="member__stat member__bs">3+</div>
                    <div class="member__stat member__s">4</div>
                    <div class="member__stat member__t">4</div>
                    <div class="member__stat member__w">2</div>
                    <div class="member__stat member__a">1</div>
                    <div class="member__stat member__ld">8</div>
                    <div class="member__stat member__sv">3+</div>
                </div>

            </div>
            <div class="spacer"></div>
            <div class="member even">

            </div>
            <div class="spacer"></div>
        </div>
    </div>
</body>
</html>